<html lang="en">
<%- include('./partials/head.ejs')%>
    <body>
        
        <%- include('./partials/nav.ejs') %>

        <div class ="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum delectus sunt nihil? Unde quam aut, repellat exercitationem ullam nemo maxime officia pariatur praesentium vitae explicabo consequuntur ut quasi amet placeat?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum delectus sunt nihil? Unde quam aut, repellat exercitationem ullam nemo maxime officia pariatur praesentium vitae explicabo consequuntur ut quasi amet placeat?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum delectus sunt nihil? Unde quam aut, repellat exercitationem ullam nemo maxime officia pariatur praesentium vitae explicabo consequuntur ut quasi amet placeat?</p>
        </div>

        <%- include('./partials/footer.ejs')%>
        
    </body>
</html>